In [30]:
import pandas as pd
import requests

url = "https://golf-leaderboard-data.p.rapidapi.com/projected-rankings-pga/2022"

headers = {
    'X-RapidAPI-Key': '0c0232cab2msh6b7ebb3580b19d6p14a805jsn4bf937bddf5e',
    'X-RapidAPI-Host': 'golf-leaderboard-data.p.rapidapi.com'
}

response = requests.get(url, headers=headers)

responseData=response.json()  ['results']

In [23]:
df=pd.DataFrame(responseData).head(2)
df

                                            rankings
0  {'player_id': 138154, 'first_name': 'Scottie',...
1  {'player_id': 106366, 'first_name': 'Patrick',...

In [31]:
rankings_data = responseData.get('rankings', [])  # Get the list of rankings

    # Normalize the rankings data into a DataFrame
df = pd.json_normalize(rankings_data)
df
    # Display t

,player_id,first_name,last_name,projected_points,projected_rank,projected_event_points,current_rank,current_points,movement,updated_at
0,138154,Scottie,Scheffler,4205.983,1,0,1,4205.983,0,2022-08-29T00:38:00.000000Z
1,106366,Patrick,Cantlay,4129.35,2,0,2,4129.35,0,2022-08-29T00:38:00.000000Z
2,142465,Will,Zalatoris,3680.099,3,0,3,3680.099,0,2022-08-29T00:38:00.000000Z
3,144259,Xander,Schauffele,2824.538,4,0,4,2824.538,0,2022-08-29T00:38:00.000000Z
4,142528,Sam,Burns,2604.512,5,0,5,2604.512,0,2022-08-29T00:38:00.000000Z
...,...,...,...,...,...,...,...,...,...,...
134,98002,Michael,Gligic,283.301,135,0,135,283.301,0,2022-08-29T00:38:03.000000Z
135,100807,Harry,Higgs,272.45,136,0,136,272.45,0,2022-08-29T00:38:03.000000Z
136,75610,Francesco,Molinari,272.347,137,0,137,272.347,0,2022-08-29T00:38:03.000000Z
137,106867,Martin,Trainer,270.293,138,0,138,270.293,0,2022-08-29T00:38:03.000000Z
138,120034,Erik,van Rooyen,268.764,139,0,139,268.764,0,2022-08-29T00:38:03.000000Z

In [32]:
df.to_csv("file1.csv", index=False, encoding='utf-8')